.header {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #e3e6ec;
    padding: 7px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    backdrop-filter: blur(6px);
    &__container {
        @media (min-width: em(768)) {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            align-items: center;
        }
        @media (max-width: em(768)) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include adaptive-value("height", 50, 34, 1, 320, 768);
        position: relative;
    }

    &__theme {
        justify-self: end;
        display: block;
        background: url("../../src/icons/header/moon.svg") 0 0 / 100% no-repeat;
        width: rem(24);
        height: rem(24);
        html.dark & {
            background: url("../../src/icons/header/Sun.svg") 0 0 / 100% no-repeat;
        }
    }
    &__logo {
        padding-right: rem(14);
    }

    &__nav {
        justify-self: center;
    }
}

.logo {
    &__link {
        display: block;
        background: url("../../src/icons/logo/logo.svg") 0 0 / 100% no-repeat;
        @include adaptive-value("width", 153, 87, 1, 320, 768);
        @include adaptive-value("height", 50, 28, 1, 320, 768);
        html.dark & {
            background: url("../../src/icons/logo/darkLogo.svg") 0 0 / 100% no-repeat;
        }
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(32);
        flex-wrap: wrap;
    }

    &__item {
    }

    &__link {
        font-family: "Cascadia Code";
        font-weight: 300;
        font-size: rem(16);
        line-height: 1.4;
        color: $mainDarkColor;
    }
}
.menu {
    &__body {
        display: none;
    }
}

html.light {
}
html.dark {
    .header {
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid #000;
        color: #fff;
    }

    .nav {
        &__link {
            color: #fff;
        }
    }
}
