.header {
    padding: 7px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #e3e6ec;
    html.dark & {
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
        }
        background: rgba(28, 31, 37, 0.5);
        border-bottom: 1px solid #3a3a3a;
    }
    &__container {
        @media (min-width: em(768)) {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;

            align-items: center;
        }
        @media (max-width: em(768)) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include adaptive-value("min-height", 50, 34, 1, 320, 768);
        position: relative;
    }

    &__theme {
        justify-self: end;
        display: block;
        transform: translate(0, 7%);
        @media (any-hover: hover) {
            &:hover {
                background: linear-gradient(
                        273.89deg,
                        rgba(118, 75, 193, 0.616) 24.92%,
                        rgba(57, 114, 237, 0.52) 48.27%,
                        rgba(50, 212, 239, 0.576) 100%
                    ),
                    #5b5b5b;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
        &::before {
            content: "\e901";
            font-size: rem(24);
            font-family: "icons" !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            html.dark & {
                content: "\e902";
                @media (any-hover: hover) {
                    &:hover {
                        color: transparent;
                    }
                }
            }
        }
    }
    &__logo {
        padding-right: rem(14);
    }

    &__nav {
        justify-self: center;
    }
}

.logo {
    &__link {
        display: block;
        background: url("../../src/icons/logo/logo.svg") 0 0 / 100% no-repeat;
        @include adaptive-value("width", 153, 87, 1, 320, 768);
        @include adaptive-value("height", 50, 28, 1, 320, 768);
        html.dark & {
            background: url("../../src/icons/logo/darkLogo.svg") 0 0 / 100% no-repeat;
        }
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(32);
        flex-wrap: wrap;
    }

    &__item {
    }

    &__link {
        font-family: "Cascadia Code";
        font-weight: 300;
        font-size: rem(16);
        line-height: 1.4;
        color: $mainDarkColor;

        html.dark & {
            color: #fff;
        }
    }
}
.menu {
    @media (max-width: em(768)) {
        display: block;
    }
    &__body {
        @media (max-width: em(768)) {
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100vh;
            overflow: auto;
            top: 0;
            left: -100%;
            background-color: #fcf8f3;
            transition: left 0.3s ease 0s;
            @include adaptive-value("padding-top", 64, 48, 1, 320, 768);
            display: flex;
            flex-direction: column;

            align-items: center;
            font-size: rem(16);

            & .header__theme {
                padding: rem(11) 0;
                font-weight: 700;
                line-height: 1.2;
                font-family: "Abro Sans";
                border-bottom: 1px solid #e3e6ec;
                display: flex;
                justify-content: center;
                width: 100vw;
            }
            & .nav__item {
                &:nth-child(1) {
                    border-top: 1px solid #e3e6ec;
                }
                padding: rem(16) 0;
                display: flex;
                justify-content: center;
                width: 100vw;
                border-bottom: 1px solid #e3e6ec;
            }
            & .header__nav {
                width: 100vw;
            }
            & .nav__link {
                font-weight: 700;
                line-height: 1.2;
                font-family: "Abro Sans";
            }
            & .nav__list {
                display: flex;
                flex-direction: column;
            }
            .light & {
                background-color: #fff;
                & .header__theme {
                    display: flex;
                    align-items: center;
                    column-gap: rem(8);
                    @media (any-hover: hover) {
                        &:hover {
                            color: $mainDarkColor;
                        }
                    }
                    &::after {
                        content: "Dark Mode";
                        transform: translate(0%, 10%);
                    }
                }
            }
            .dark & {
                background-color: $mainDarkColor;
                & .header__theme {
                    display: flex;
                    align-items: center;
                    column-gap: rem(8);
                    border-bottom: 1px solid #3a3a3a;
                    @media (any-hover: hover) {
                        &:hover {
                            color: #fff;
                        }
                    }
                    &::after {
                        content: "Light Mode";
                        transform: translate(0%, 10%);
                    }
                }

                & .nav__item {
                    &:nth-child(1) {
                        border-top: 1px solid #3a3a3a;
                    }

                    border-bottom: 1px solid #3a3a3a;
                }
            }
        }

        &._active {
            left: 0;
        }
    }
}
