.page {
    &__jobs {
    }
}
.jobs {
    &__container {
        @include adaptive-value("margin-top", 60, 40, 1, 320, 648);
    }

    &__title {
        @include adaptive-value("font-size", 36, 24, 1, 768);
        text-align: center;
        @media (max-width: $tablet) {
            @include adaptive-value("font-size", 24, 20, 1, 320, 768);
        }
        @include adaptive-value("margin-bottom", 24, 16, 1, 320, 768);
    }

    &__slider {
        position: relative;
    }
}
.slider-jobs {
    &:not(:last-child) {
        margin-bottom: rem(40);
    }
    &__body {
        overflow: visible;
    }

    &__wrapper {
        position: relative;
        z-index: 3;
    }

    &__slide {
        .light & {
            background-color: #fff;
            border: 2px solid #e3e6ec;
        }
        .dark & {
            background: #1c1f25;
            border: 2px solid #3a3a3a;
        }
    }

    &__image {
        padding: 0 0 0.57 * 100% 0px;
    }

    &__content {
        padding: rem(16) rem(8) rem(32) rem(8);
    }

    &__title {
        max-width: rem(230);
        font-weight: 700;
        @include adaptive-value("font-size", 20, 16, 1, 768);
        line-height: 1.2;
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
    }

    &__text {
        font-family: "Cascadia Code";

        font-weight: 300;
        line-height: 1.4;
        @include adaptive-value("font-size", 16, 14, 1, 768);
    }
    &__dotts {
        padding: rem(24) 0;
        display: flex;
        justify-content: center;
    }
}
.swiper-pagination-bullet {
    .dark & {
        background: #fff;
        opacity: 1;
    }
}
.swiper-pagination-bullet-active {
    width: rem(16);
    border-radius: 31px;
    --swiper-theme-color: linear-gradient(
            273.89deg,
            rgba(118, 75, 193, 0.616) 24.92%,
            rgba(57, 114, 237, 0.52) 48.27%,
            rgba(50, 212, 239, 0.576) 100%
        ),
        #5b5b5b;
    .dark & {
        background: linear-gradient(
                273.89deg,
                rgba(118, 75, 193, 0.616) 24.92%,
                rgba(57, 114, 237, 0.52) 48.27%,
                rgba(50, 212, 239, 0.576) 100%
            ),
            #5b5b5b;
    }
}

.slider-arrow {
    &_white {
    }

    &_prev {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: rem(-5);
        transform: translate(0, -100%) rotate(180deg);
        &::before {
            font-size: rem(32);
            color: #3a3a3a;
            .dark & {
                color: #fff;
            }
        }
    }

    &_next {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: rem(-5);
        transform: translate(0, -100%);
        &::before {
            font-size: rem(32);
            color: #3a3a3a;
            .dark & {
                color: #fff;
            }
        }
    }
}
