.btn {
    position: relative;
    padding: rem(12) rem(24);
    font-family: "Cascadia Code";
    font-weight: 700;
    @include adaptive-value("font-size", 15, 12, 1);
    line-height: 1.4;
    z-index: 2;
    text-align: center;

    &_1 {
        color: #fff;
        background: linear-gradient(
                273.89deg,
                rgba(118, 75, 193, 0.616) 24.92%,
                rgba(57, 114, 237, 0.52) 48.27%,
                rgba(50, 212, 239, 0.576) 100%
            ),
            #5b5b5b;
        @media (any-hover: hover) {
            &:hover {
                background: linear-gradient(
                        273.89deg,
                        rgba(118, 75, 193, 0.616) 24.92%,
                        rgba(57, 114, 237, 0.52) 48.27%,
                        rgba(50, 212, 239, 0.576) 100%
                    ),
                    #3c3c3c;
            }
        }
    }

    &_2 {
        position: relative;
        padding: rem(10) rem(22);
        border: solid 2px transparent;
        background: linear-gradient(273.89deg, #764bc1 24.92%, #32d4ef 100%);
        background-origin: border-box;
        background-clip: content-box, border-box, text;
        html.light & {
            transition: box-shadow 0.4s ease;
            box-shadow: 2px 1000px 1px #fff inset;

            @media (any-hover: hover) {
                &:hover {
                    border: solid 2px transparent;
                    background: linear-gradient(
                            273.89deg,
                            rgba(118, 75, 193, 0.616) 24.92%,
                            rgba(57, 114, 237, 0.52) 48.27%,
                            rgba(50, 212, 239, 0.576) 100%
                        ),
                        #3c3c3c;
                    background-origin: border-box;
                    background-clip: content-box, border-box, text;
                    box-shadow: 2px 1000px 1px #f4f4f4 inset;
                    transition: box-shadow 0s ease;
                    & span {
                        background: linear-gradient(
                                273.89deg,
                                rgba(118, 75, 193, 0.616) 24.92%,
                                rgba(57, 114, 237, 0.52) 48.27%,
                                rgba(50, 212, 239, 0.576) 100%
                            ),
                            #3c3c3c;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
            &_black {
                box-shadow: 2px 1000px 1px $mainDarkColor inset;
                @media (any-hover: hover) {
                    &:hover {
                        background: linear-gradient(
                                273.89deg,
                                rgba(118, 75, 193, 0.616) 24.92%,
                                rgba(57, 114, 237, 0.52) 48.27%,
                                rgba(50, 212, 239, 0.576) 100%
                            ),
                            #3c3c3c;
                        background-origin: border-box;
                        background-clip: content-box, border-box, text;
                        box-shadow: 2px 1000px 1px #121213 inset;
                        transition: box-shadow 0s ease;
                        & span {
                            background: linear-gradient(
                                    273.89deg,
                                    rgba(118, 75, 193, 0.616) 24.92%,
                                    rgba(57, 114, 237, 0.52) 48.27%,
                                    rgba(50, 212, 239, 0.576) 100%
                                ),
                                #3c3c3c;
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                        }
                    }
                }
            }
        }
        html.dark & {
            transition: box-shadow 0.4s ease;
            box-shadow: 2px 1000px 1px $mainDarkColor inset;
            @media (any-hover: hover) {
                &:hover {
                    border: solid 2px transparent;
                    background: linear-gradient(
                            273.89deg,
                            rgba(118, 75, 193, 0.616) 24.92%,
                            rgba(57, 114, 237, 0.52) 48.27%,
                            rgba(50, 212, 239, 0.576) 100%
                        ),
                        #3c3c3c;
                    background-origin: border-box;
                    background-clip: content-box, border-box, text;
                    box-shadow: 2px 1000px 1px #121213 inset;
                    transition: box-shadow 0s ease;
                }
            }
        }

        & span {
            background: linear-gradient(
                    273.89deg,
                    rgba(118, 75, 193, 0.616) 24.92%,
                    rgba(57, 114, 237, 0.52) 48.27%,
                    rgba(50, 212, 239, 0.576) 100%
                ),
                #5b5b5b;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../../src/images/bg/Noise.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 2;
            pointer-events: none;
        }
    }
}

.button {
    font-family: "Cascadia Code";
    font-weight: 700;
    font-style: rem(14);
    line-height: 1.4;
    color: $mainDarkColor;
    padding: rem(12) rem(24);
    background: #fff;
    transition: all 0.2s ease;
    font-size: rem(15);

    @media (max-width: em(920)) {
        font-size: rem(14);
    }
    @media (max-width: em(680)) {
        font-size: rem(12);
    }

    @media (any-hover: hover) {
        &:hover {
            transition: all 0.2s ease;
            color: #fff;
            background: linear-gradient(
                    273.89deg,
                    rgba(118, 75, 193, 0.616) 24.92%,
                    rgba(57, 114, 237, 0.52) 48.27%,
                    rgba(50, 212, 239, 0.576) 100%
                ),
                #5b5b5b;
        }
    }
}
